body {
    background-color: rgb(113, 110, 110);
}

* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atm {
    width: 400px;
    height: 700px;
    border: 1px solid rgb(32, 13, 81);
    border-radius: 8px;
    padding: 14px;
    background-color: rgb(29, 29, 41);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#bank_name {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 3px solid rgb(37, 37, 54);
}

#window {
    width: 100%;
    height: 320px;
    border: 2px solid rgb(37, 37, 54);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;


}

#welcome_content {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141424;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(81, 81, 82);
    font-family: "Gill Sans", sans-serif;
}

#credit_card{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #191943;
    border-radius: 10px;
    padding: 10px;
}
#card_bank{
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(125, 106, 247);
}
#card_number{
    font-family: monospace;
    font-size: 18px;
    color:white;
}
#card_info{
    display: flex;
    justify-content: space-between;
}

#card_owner{
    color: rgb(146, 146, 148);
    font-family: sans-serif;
}

#password_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
#password_label{
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(81, 81, 82);
    margin-left: 20px;
    font-weight: bold;
}
#password_input{
    width: 40%;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgb(29, 29, 41);
    border: 1px solid rgb(51, 51, 158);
    outline: 1px solid rgb(24, 24, 51);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;

}
#button_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 10px;
}
#button_container button {
    height: 55px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(145deg, #1c1c2e, #2a2a45);
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.2s;
}

#button_container button:nth-child(13) { /* Bekor qilish */
    grid-column: span 2;

}




